src/main/app/demoapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mxml="http://www.mulesoft.org/schema/mule/xml"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
     
     <mxml:object-to-xml-transformer name="object_xml" doc:name="Object to XML"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="root" database="demo" doc:name="MySQL Configuration"/>
    <flow name="demoappFlow">
        <file:inbound-endpoint path="D:\Users\algajjar\Desktop\input" responseTimeout="10000" doc:name="File" />
        <dw:transform-message doc:name="Transform Message" metadata:id="82fd7f18-cdb5-48ae-a55a-873382b42a02">
            <dw:input-payload doc:sample="sample_data\list_csv_2.csv"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	person: {
		name: payload[0].name as :string,
		address: payload[0].address as :string
	}
}]]></dw:set-payload>
       </dw:transform-message>
       <byte-array-to-string-transformer doc:name="Byte-Array-to-String" />
       <set-variable variableName="xmlPayload" value="#[payload]" doc:name="Variable" />
       <splitter expression="#[xpath3('/person', payload, 'NODESET')]" doc:name="Splitter" />
       <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into person(name,address) values (#[xpath3('name')],#[xpath3('address')])]]></db:parameterized-query>
       </db:insert> 
       <logger level="INFO" message="#[flowVars['xmlPayload']]"/>
       <set-payload value="#[flowVars['xmlPayload']]" />
	<file:outbound-endpoint outputPattern="person.xml" path="D:\Users\algajjar\Desktop\output" mimeType="application/xml" />
     </flow>
</mule>
